*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.fotka{
    width: auto;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.457),rgba(0,0,0,0.35)), url(/Chila/img/mianfoto.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
}
#video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.navbar{
    background-color: rgb(15, 1, 1);
    padding: 0 15px;
    z-index: 2;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
}
.logo {
    width: 28%;
    height: auto;
    margin: 19px;
    cursor: pointer
}

.navdiv ul li {
    list-style-type: none;
    display: inline-block;
}

.navdiv ul li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-right: 150px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;

}

.navdiv ul li a { /* Animace */
    background: 
        linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, #FF2508, #B71A06, #FF2508 /* #B71A06 #FF2508 #F56912 #1D3461, #1F487*/ );
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 500ms;
}

.navdiv ul li a:hover,.navdiv ul li a:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

.text{
    color: white;
    text-align: center;
    padding-top: 250px;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
    z-index: 3;
}



/*
.logo{
    width: 15%;
    height: auto;
    cursor: pointer;
    border-radius: 1%;
}

.logo:hover{  glow up effect 
    color: #ff2508;
    background-color: rgba(0,0,0,0.0);
    box-shadow: 0 0 1500px #ff2508;
    transition: 0.5s;
}

.logo:hover::after{
    width: 100%;

}
/*
