body {
    background-color: rgb(84, 77, 77);
}

h1{
    padding-top: 20px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
    text-align: center;
    font-size: 600%;
}

.trat{
    width: 33.33%;
    float: left;
    padding: 100px;
}

.trat img   {
    width: 100%;
    float: right;
    margin-left: 35.6px;

}

.trat h1{
    font-size: 350%;
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.trat h1 a{
    color: white;
    text-decoration: none;

}

.trat img{
    width: 90%;
    height: 90%;
    box-sizing: border-box;
    transition: .5s;
    cursor: pointer;
}
.trat img:hover{
    transform: scale(1.1);

}
.trat img:active{
    transform: scale(1.2);
}


