*{
    background-color: rgb(44, 38, 38);
}

h1{
    text-align: center;
    font-size: 175%;
}

.trategalery{
    width: 90%;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
}

.trat img   {
    width: 268px;
    float: right;
    margin-left: 35.6px;

}