table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    padding: 100px 100px 100px 100px;
    margin: auto;
    width: 50%;
}
th {
    background-color: #f0f0f0;
    color: black;
}
tr, td {
    background-color: rgba(0, 0, 0, 0.511);
}
.prvni {
    font-weight: bold;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.70);
}
th {
    background-color: #f0f0f0;
    color: black;
}
.prvni {
    font-weight: bold;
}
td{
    text-align: center;
}
